@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all;
}
nav.menu-open {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

nav.menu-closed {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}